/*This is for the policy page*/


.policy-page{
    font-size: 30px;
    height: auto;
    font-family: Montserrat;
    color: #ffffff;
    padding-right: 90px;
    text-align: justify;
    margin: 200px;
    padding: 20px;
}

.whitebg{
    background-attachment: scroll;
    background-color: white;
    height: auto;
    margin: 90px 300px;
    padding: 30px 50px;
  }


.policy-page2{
    font-size: 20px;
    font-family: Montserrat;
    text-align: justify;
}

.liftup:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

.link_to_logo:link {color:#03A6A6}
.link_to_logo:visited {color:#03A6A6}