.header {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: none;
  

}

.logo {
  width: 85px;
}

.left-section {
  display: flex;
  flex: 1;
  padding-left: ;
  justify-content: right;
}

.logo-mod {
  display: flex;
  justify-content: center;
}

.mid-section {
  display: flex;
  justify-content: center;
  width: 300px;
}

.header-name {
  font-family: Montserrat;
  font-weight: 500;
  color: #03A6A6;
  font-size: 25px;
}

.right-section {
  display: flex;
  flex: 1;
  justify-content: center;
}

button {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  border-color: #B2BF80;
  margin-left: 10px;
  color: #B2BF80;
  border-style: solid;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.15s;
}

button:hover {
  background-color: #B2BF80;
  color: white;
}

button:active {
  opacity: 0.8;
}

/* This is the end of the header section of the home page. */

body {
  background-color: #B2BF80;
  margin: 0;
}

/* This is the main part of the home page. */

.main