body {}

.header {
  display: flex;
  flex-direction: row;
  height: 90px;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 85px;
}

.left-section {
  width: 100px;
}

.logo-mod {
  display: flex;
  justify-content: center;
}

.mid-section {
  display: flex;
  width: 180px;
  max-width: 400px;
  background-color: white;;
  justify-content: center;
  width: ;
}

.header-name {
  font-family: Rubik;
  color: #03A6A6;
  font-size: 25px;
}

.right-section {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-shrink: 0;
}

button {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}